{
    :db_user       => '',
    :db_password   => '',
    :db_url => '', // Hostname of the db only
    :api_user   => '',
    :api_password   => '',
    :api_url => '' // For example 0.0.0.0:4567 for local connect backend
}
